@charset "UTF-8";

/*Estilo para ecrã*/

*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1em;
}
header{
    background-color: rgb(152, 152, 152);
}

header > h1{
    text-align: center;
}
menu > ul > li{
    display: inline-block;
    background-color: rgb(75, 75, 75);
    color: white;
    padding: 10px;
}
menu > ul{
    list-style-type: none;
    background-color: grey;
}
article{
    width: 600px;
    display: block;
    margin: auto;
}